* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  margin: 0 0 2rem 0;
  font-family: 'PT Serif', serif;
  font-size: 1rem;
  color: #333;
  background-color: #FFF; }
  body a {
    text-decoration: none; }
    body a:link {
      color: #03a9f4; }
    body a:visited {
      color: #039be5; }
    body a:hover {
      color: #039be5; }
    body a:active {
      color: #039be5; }
  body header {
    margin: 0 auto 1rem auto;
    height: 200px;
    width: 1200px;
    background-image: url("images/header.png"); }
  body main {
    margin: 1rem auto 0 auto;
    max-width: 40rem; }
    body main h2 {
      font-size: 2rem; }
    body main #poster-list li {
      display: inline;
      list-style-type: none;
      padding-right: 2rem; }
    body main article {
      margin: 2rem auto 1rem auto;
      max-width: 32rem; }
      body main article h3 {
        font-size: 1.5rem; }
    body main .main-content {
      margin: 0 2rem 0 2rem; }
  body footer {
    margin: 1rem auto 0 auto;
    padding: 1rem 0 0 0;
    position: absolute;
    bottom: 0;
    height: 2rem;
    width: 100%;
    font-size: 80%;
    text-align: center;
    color: #FFF;
    background-color: #333; }
